.app{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0.9)), url("../src/assets/images/background1.jpg");
  
  height: 100vh;
  width: 100vw;
  background-color: blue;
  color: white;
  box-sizing: border-box;

}

.header{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100vw;
  box-sizing: border-box;

  
}
.header > * {
  padding: 15px;
}
.header > img{
  height: 60%;

}

.header-right-side{
  padding: 20px;
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.header-right-side > *{
  margin-right: 10px;
  font-size: 20px;
  font-weight: 600;
}
.dropdown-menu{
font-size: 50px;
font-weight: 300;
}





.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
